<!DOCTYPE html>
<html>
<head>
    <title> GPIO Control Web App</title>
    <link rel="styleSheet" href="/static/style.css"/>
</head>
<body>
    <img src="/static/dog_meme.jpg" height="300px" alt="Because You Normie"/>
    <h1>Actuators</h1><br>
    <h2>Status</h2>
    <h3> RED LED --> {{led_kirmizi}}</h3>
    <h3> YELLOW LED --> {{led_kirmizi}}</h3>
    <h3> GREEN LED --> {{led_yesil}}</h3><br>
    <h2>Led Control</h2>
    <h3> RED LED CNTRL ==> <a href ="/led_kirmizi/on" class="button">TURN ON</a> <a href="/led_kirmizi/off" class = "button">TURN OFF</a></h3>
    <h3> YELLOW LED CNTRL ==> <a href="/led_kirmizi/on" class="button">TURN ON</a> <a href="/led_kirmizi/off" class="button">TURN OFF</a></h3>
    <h3> GREEN LED CNTRL ==> <a href="/led_yesil/on" class="button">TURN ON</a> <a href="/led_yesil/off" class="button">TURN OFF</a></h3>
</body>
</html>
