<!doctype html>
<html lang="tr">
<head>
    <!-- Gerekli meta etiketler -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css">
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>

    {% if baslik %}
     <title>{{ baslik }} | Grafik</title>
    {% else %}
     <title>@keyiflerolsun | Gerçek Zamanlı Grafik</title>
    {% endif %}
</head>
<body>
    <h1 style="text-align: center;">Merhaba, Dünya!</h1>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <canvas id="keyiflerolsun"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery, Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js"></script>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <script>
        $(document).ready(function() {
            const config = {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "RAM Kullanımı",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: [],
                        fill: false,
                    }],
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Flask ile Gerçek Zamanlı Grafikler Oluşturma'
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Zaman'
                            }
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Değer'
                            }
                        }]
                    }
                }
            };

            const context = document.getElementById('keyiflerolsun').getContext('2d');

            const cizgiGrafik = new Chart(context, config);

            const kaynak = new EventSource("/grafik-verileri");

            kaynak.onmessage = function(olay) {
                const veri = JSON.parse(olay.data);
                console.log(veri)
                if (config.data.labels.length === 7) {
                    config.data.labels.shift();
                    config.data.datasets[0].data.shift();
                } // Maksimum 7 Adet
                config.data.labels.push(veri['Zaman']);
                config.data.datasets[0].data.push(veri['kullanilan']);
                cizgiGrafik.update();
            }
        });
    </script>

</body>
</html>
