<% extends "bootStrap.html" %>
<% block vueTest %>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div id="uygulama">


            <h1>^* mesaj *^</h1>
            <p v-text="duzYazi"></p>
            <!-- <a v-bind:href="link" v-bind:data-id="1">bu bir linktir</a> -->
            <a :href="link" :data-id="1">bu bir linktir</a>
            <!-- <p>^* detaylar *^</p> -->
            <p v-html="detaylar"></p>

            <hr>
            <ol>
              <li v-for="yapilacak in yapilacaklar">
                ^* yapilacak.is *^
              </li>
            </ol>

            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% endblock %>
